@{
    ViewBag.titre = "Posts";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <p>Page des posts</p>
    <a href="@Url.RouteUrl("login")">S'inscrire</a>
</body>
</html>
